<div class="mt-4">
  <h3>Thêm Truyện</h3>

  <form method="POST" action="/truyenAdmin/store">
    <div class="form-group">
      <label for="TenTruyen">Tên Truyện</label>
      <input
        type="Text"
        name="TenTruyen"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Nhập tên tác giả..."
      />
    </div>
    <div class="form-group">
      <label for="TheLoais">Thể loại</label>
      <input
        type="Text"
        name="TheLoais"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Nhập tên thể loại"
      />
    </div>

    <div class="form-group">
      <label for="TacGias">Nhập tác giả</label>
      <input
        type="Text"
        name="TacGias"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Nhập tên tác giả..."
      />
    </div>
    <div class="form-group">
      <label for="GioiThieu">Nhập Giới Thiệu</label>
      <textarea
        name="GioiThieu"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Nhập tên tác giả..."
      ></textarea>
    </div>
    <div class="form-group">
      <label for="AnhBia">Ảnh Bìa</label>
      <input
        type="Text"
        name="AnhBia"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Nhập tên tác giả..."
      />
    </div>
    <button type="submit" class="btn btn-primary">Thêm Truyện</button>
  </form>
</div>